.DS_Store
node_modules
public
.tmp
.idea
.log
dist
docs
.env
npm-debug.log
.nyc_output
coverage
cassettes
# See http://help.github.com/ignore-files/ for more about ignoring files.


# dependencies
node_modules
**/dist

config.json
